doctype html
html
  head
    title What if...
    link(rel='stylesheet', href='/css/style.min.css')
  body
    block content

    script(src="/js/script.min.js")
    script(src="//localhost:35729/livereload.js")